.App-body{
  color: white;
  width: 100%;
  min-width: 1000px;
  height:20%;
  min-height: 200px;
  padding-top: 5%;
}

.App-form{
  padding: 10px;
  font-size: 40px;
  width: 60%;
  height:100%;
  margin-left: 20%;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 25px;
}

.search-bar{
  width: 99%;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
}

.search-button{
  width: 100px;
  height: 100px;
  margin-left: 80%;
}
